<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
</head>
<script>

</script>
<body>
<style>
    table {
        border: 1px solid #444444;
        width :60%;
        height:100px;
        text-align: center;
    }
     td {
        border: 1px solid #444444;
    }
</style>

<form method="GET">
    <br>

    <input type ="button" name="create" value="create" id ="create"/>
    <br>
    <% BoardContents.forEach(function(post) { %>
        <table>
            <tr>
                <%if(post.id == userId){%>
                <td><input type ="button" name ="delete" id ="delete" value ="delete"><input type ="button" name ="update" id ="update" value ="update"></td>
                <%}%>
            </tr>
            <tr>
                <td><%=post.name%></td>
            </tr>
            <tr>
                <td><%=post.mod_date%></td>
            </tr>
            <tr>

                <td><%=post.contents%></td>
            </tr>
            <tr>
                <td><img src="../uploads/<%=post.image_path%>" style= "width: 70%; height:70%"/></td>
            </tr>
        </table>
    <br>
    <% }) %>
</form>

<script>
    $("#create").click(function(){
        $.ajax({
            url: './board/create',
            type: 'GET',
            success: function () {
                location.href="./board/create";
            },
            error: function (err) {
            }
        })
    });
</script>
<script>
    $("#delete").click(function(){
        $.ajax({
            url: './board/delete',
            type: 'GET',
            success: function (data) {

            },
            error: function (err) {
            }
        })
    });
</script>
</body>
</html>