<!DOCTYPE html>
<html>
<head>
    <title>twitterHome</title>
</head>
<body>
<form action="/register" method="GET">
<h1>homepage</h1>
    <input id = "btn_register" name ="register" value="register" type ="submit">
</form>
</body>
</html>
