<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <title>twitterHome</title>
</head>
<body>
<form method="GET">
<h1>homepage</h1>
    <input id = "btn_login" name ="login" value = "login" type ="button"/>
    <input id = "btn_register" name ="register" value="register" type ="button"/>
</form>
<script>
    $("#btn_login").click(function(){
        $.ajax({
            url: './users/login',
            type: 'GET',
            success: function () {
                location.href="./users/login";
            },
            error: function (err) {
            }
        })
    });
</script>

<script>
    $("#btn_register").click(function(){
        $.ajax({
            url: './users/register',
            type: 'GET',
            success: function () {
                location.href="./users/register";
            },
            error: function (err) {
            }
        })
    });
</script>

</body>
</html>
