<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<style>
    form{
        text-align: center;
    }
</style>
<body>
<%- include('./partials/nav.ejs') %>


<div class="container mb-3">

    <div class="jumbotron">
        <form method="GET">
            <h1>homepage</h1>
        </form>
    </div>
</div>
</body>
</html>
