<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/nav') %>
<div class="container mb-3"/>
<form method="GET">
    <h3 class="contentBoxTop mb-3">homepage</h3>
    <!--    <input id = "btn_login" name ="login" value = "login" type ="button"/>-->
    <!--<input id = "btn_register" name ="register" value="register" type ="button"/>-->
</form>

<script>
    $("#btn_login").click(function(){
        $.ajax({
            url: '/users/login',
            type: 'GET',
            success: function () {
                location.href="/users/login";
            },
            error: function (err) {
            }
        })
    });
</script>

<script>
    $("#btn_register").click(function(){
        $.ajax({
            url: '/users/register',
            type: 'GET',
            success: function () {
                location.href="/users/register";
            },
            error: function (err) {
            }
        })
    });
</script>

</body>
</html>
