<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/nav') %>

<form method="post">
    <div>
        <h3 class="contentBoxTop mb-3">login</h3>
    </div>
    <div>
        <label for="password" class="col-sm-3 col-form-label">EMAIL</label>
        <div class="col-sm-9">
            <input id = "email" name="email" type ="email" placeholder="Email" style="display: inline-block;vertical-align: middle;text-align: center;padding: 15px 0; width:300px;"/>
        </div>
    </div>

    <div>
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <input id = "password" name ="password" type ="password" placeholder="password" style="display: inline-block;text-align: center;vertical-align: middle;padding: 15px 0;width:300px;"/>
        </div>
    </div>
    <div>
        <div class="mt-3">
            <input class="button" type="button" value="LOGIN" id ="btnLogin"/>
            <input class="button" type = "button" value="REGIETER" id ="btnReg"/>
        </div>
    </div>

    <!--<input type = "button" value="LOGIN" id ="btnLogin"/>
    <input type = "button" value="REGIETER" id ="btnReg"/>-->

</form>
<!-- form를 사용하면 간단하게 전송할 수 있으나 성공했는지 여부 클라이언트에서 확인 할 수를없을 수 있다 -->

<script>
    $("#btnLogin").click(function(){
        $.ajax({
            url:'/users/login',//주
            type: 'POST',
            dataType :'json',
            data: {
                email : $('#email').val(),
                password : $('#password').val()
            },
            success: function (data) {
                location.href ='/users/mainhome';
            },
            error: function (err) {
                alert('해당 아이디가 없거나, 패스워드가 일치하지 않습니다');
                $('#password').val('');
            }
        });
    });
</script>

<script>
    $("#btnReg").click(function(){
        $.ajax({
            url:'/users/register',//주
            type: 'GET',
            success: function () {
                location.href ='./register';
            },
            error: function (err) {
            }
        });
    });
</script>
</body>
</html>
