<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <title> login </title>
</head>
<style>
    form{
        text-align: center;
    }

</style>
<body>
<%- include('./partials/nav.ejs') %>
<div class="container mb-3">
    <div class="jumbotron">
        <form method="post">

            <h1>login</h1>
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <th><input id = "email" name="email" type ="email" placeholder="Email"></th>

                </tr>
                <tr>
                    <td><input id = "password" name ="password" type ="password" placeholder="password"></td>
                </tr>
                <tr>
                    <td><input type = "button" value="Login" id ="btnLogin"/><input type = "button" value="registe" id ="btnReg"/></td>
                </tr>
            </table>
        </form>
        <!-- form를 사용하면 간단하게 전송할 수 있으나 성공했는지 여부 클라이언트에서 확인 할 수를없을 수 있다 -->
    </div>
</div>
<script>
    $("#btnLogin").click(function(){
        $.ajax({
            url:'/users/login',//주
            type: 'POST',
            dataType :'json',
            data: {
                email : $('#email').val(),
                password : $('#password').val()
            },
            success: function (data) {
                location.href ='/users/mainhome';
            },
            error: function (err) {
                alert('해당 아이디가 없거나, 패스워드가 일치하지 않습니다');
                $('#password').val('');
            }
        });
    });
</script>

<script>
    $("#btnReg").click(function(){
        $.ajax({
            url:'/users/register',//주
            type: 'GET',
            success: function () {
                location.href ='/users/mainhome';
            },
            error: function (err) {
            }
        });
    });
</script>
</body>
</html>
