<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <title> mainhome </title>
</head>
<body>
<form method="POST">
<div>
    <p><%= email%>반갑습니다.</p>
    <input type="button" name ="profile" value = "profile" id="profile"/>
    <a href ='../board'>게시판</a>
</div>
</form>
<script>
    $("#profile").click(function(){
        $.ajax({
            url:'./profile',//주
            type: 'POST',
            success: function () {
                location.href ='./profile';
            },
            error: function (err) {
            }
        });
    });
</script>
</body>