<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/nav_login') %>
<form method="GET">
    <div class="container mb-3"/>

    <div>
        <p><a href = '/users/profile'><%= email%>반갑습니다.</a></p>
    </div>

</form>
</body>

</html>