<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/nav') %>
<div class="container mb-3">
    <h3 class="contentBoxTop mb-3">회원 가입</h3>
    <form method="post" onsubmit=" return check()">
        <table>
            <tr>
                <td>이름 : </td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td>이메일 : </td>
                <td><input type="email" name="email" id="email"></td>
            </tr>
            <tr>
                <td>비밀번호: </td>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
                <td>비밀번호 확인 : </td>
                <td><input type="password" name="passwordRe" id="passwordRe"></td>
                <td><label id="chkNotice" size="10"></label></td>
            </tr>
            <tr>
                <td>전화번호 : </td>
                <td><input type="text" onKeyup="inputPhoneNumber(this)" name="phonenumber" minlength="13" maxlength="13" id="phonenumber">
            </tr>
            <tr>
                <td>성별 : </td>
                <td><input type="radio" name ="gender" value ='0' id="gender">여</td>
                <td><input type="radio" name ="gender" value ='1' id="gender">남</td>
            </tr>
            <tr>
                <td><input class="button" type="submit" id="register" value="회원가입"></td>
            </tr>
        </table>
    </form>
</body>
<script type="text/javascript">
    function check() {
        var pw = document.getElementById("password").value;
        var pwred = document.getElementById('passwordRe').value;
        var  name = document.getElementById("name").value;
        var  email = document.getElementById("email").value;
        var  phonenumber = document.getElementById("phonenumber").value;
        var  gender = document.getElementById("gender").value;

        if (!phonenumber) {
            alert("휴대폰 입력해주십시오");
            return false;
        }
        if (!name) {
            alert("이름 입력해주십시오");
            return false;
        }
        if (!email) {
            alert("이메일을 입력해주십시오");
            return false;
        }
        if (pw !=pwred) {
            alert('비멀번호가 틀렸습니다. !다시 입력해주세요.');
            document.getElementById("password").value = '';
            document.getElementById('passwordRe').value='';
            return false;
        }
        if (!gender) {
            alert("성별을 체크 해주십시오");
            return false;
        }
    }
</script>

<script>
    $("#register").submit(function(){
        $.ajax({
            url:'/users/register',//주
            type: 'POST',
            async: false,
            dataType :'json',
            data: {
                email : $('#email').val(),
                name : $('#name').val(),
                password : $('#password').val(),
                password: $('#paawordRe').val(),
                phonenubmer : $('#phonenumber').val(),
                gender : $('#gender').val(),
                profile : $('#profile').val()
            },
            success: function (data) {
                //var jsonObj = JSON.parse(data);
                location.href ="/users/login"
            },
            error: function (err) {

            }
        });
    });
</script>
<script>
    function inputPhoneNumber(obj) {

        var number = obj.value.replace(/[^0-9]/g, "");
        var phone = "";

        if(number.length < 4) {
            return number;
        } else if(number.length < 7) {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3);
        } else if(number.length < 11) {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 3);
            phone += "-";
            phone += number.substr(6);
        } else {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 4);
            phone += "-";
            phone += number.substr(7);
        }
        obj.value = phone;
    }
</script>


</html>