<!DOCTYPE html>
<html lang ='ko'>
  <head>
    <meta charset="UTF-8">
    <title>Join</title>
  </head>
  <h3>회원가입</h3>
  <form action="/query" method="post">
    <table>
      <tr>
        <td>이름 : </td>
        <td><input type="text" name="userName"></td>
      </tr>
      <tr>
        <td>이메일 : </td>
        <td><input type="text" name="userId"></td>
      </tr>
      <tr>
        <td>비밀번호 : </td>
        <td><input type="password" name="userPw"></td>
      </tr>
      <tr>
        <td>비밀번호확인 : </td>
        <td><input type="password" name="userPwRe"></td>
      </tr>
      <tr>
        <td>휴대폰번호 : </td>
        <td><input type="text" name="userPhone"></td>
      <tr>
        <td>성별 : </td>
        <td><input type="text" name="userGender"></td>
      </tr>
      <tr>
        <td>profile : </td>
        <td><input type="text" name="userProfile"></td>
      </tr>
      <tr>
        <td><input type="submit" value="가입"></td>
      </tr>
    </table>
  </form>
</html>