<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>회원정보수정</title>
    <a href="/mainhome" height="5" width="5">
        <img src="bird.png"/>
    </a>
</head>
<body>
<h3>회원정보수정</h3>
<form method="post">
    <table>
        <tr>
            <td>이름 : </td>
            <td><input type="name" value ="<%=name%>" name="name"></td>
        </tr>
        <tr>
            <td>전화 번호 : </td>
            <td><input type="text" value ="<%=phonenumber%>" name="phonenumber"></td>
        </tr>

        <tr>
            <td>성별 : </td>
            <td><input type="radio" name ="gender" value ='0'>여</td>
            <td><input type="radio" name ="gender" value ='1'>남</td>
        </tr>

        </tr>
        <tr>
            <td>프로필 : </td>
            <td><input type="text" value ="<%=profile%>" name="profile"></td>
        </tr>
        <tr>
            <td><input type="submit" id ="update" value="수정"></td>
        </tr>
    </table>
</form>


<script>
    $("#update").click(function(){
        $.ajax({
            url:'/update',//주
            type: 'POST',
            async: false,
            dataType :'json',
            data: {
                name : $('#name').val(),
                phonenubmer : $('#phonenumber').val(),
                gender : $('#gender').val(),
                profile : $('#profile').val()
            },
            success: function (data) {
                console.log('1234')
                alert('success');
            },
            error: function (err) {
                alert(data);
            }
        });
    });
</script>




</body>
</html>