<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/head') %>
</head>
<body>
<%- include('./partials/nav_login') %>

<div class="container mb-3">
    <h3 class="contentBoxTop mb-3">회원정보수정</h3>
    <form  method="post">
        <table>
            <tr>
                <td>이름 : </td>
                <td><input type="name" value ="<%=name%>" name="name"></td>
            </tr>
            <tr>
                <td>전화 번호 : </td>
                <td><input type="text" value ="<%=phonenumber%>" name="phonenumber" onKeyup="inputPhoneNumber(this)"></td>
            </tr>
            <tr>
                <td><input class="button" type="submit" id ="update" value="수정"></td>
            </tr>
        </table>
    </form>
</div>
    <script>
        $("#update").submit(function(){
            $.ajax({
                url:'/users/update',//주
                type: 'POST',
                dataType :'json',
                data: {
                    name : $('#name').val(),
                    phonenubmer : $('#phonenumber').val(),
                    gender : $('#gender').val(),
                    profile : $('#profile').val()
                },
                success: function (data) {

                },
                error: function (err) {

                }
            });
        });
    </script>
<script>
    function inputPhoneNumber(obj) {

        var number = obj.value.replace(/[^0-9]/g, "");
        var phone = "";

        if(number.length < 4) {
            return number;
        } else if(number.length < 7) {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3);
        } else if(number.length < 11) {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 3);
            phone += "-";
            phone += number.substr(6);
        } else {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 4);
            phone += "-";
            phone += number.substr(7);
        }
        obj.value = phone;
    }
</script>
</body>
</html>