<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <%- include('./partials/head.ejs') %>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <title>회원정보수정</title>
</head>
<style>
    body {
        text-align: center;
    }
    form {
        margin: 0 auto;
        width:250px;
    }
</style>
<body>
<%- include('./partials/nav_l.ejs') %>
<div class="container mb-3">
    <div class="jumbotron">
        <h3>회원정보수정</h3>
        <form method="post">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>이름 : </td>
                    <td><input type="name" value ="<%=name%>" name="name"></td>
                </tr>
                <tr>
                    <td>전화 번호 : </td>
                    <td><input type="text" value ="<%=phonenumber%>" onKeyup="inputPhoneNumber(this)" minlength="13" maxlength="13" name="phonenumber"></td>
                </tr>
                <tr>
                    <td><input type="submit" id ="update" value="수정"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $("#update").submit(function(){
        $.ajax({
            url:'./update',//주
            type: 'POST',
            dataType :'json',
            data: {
                name : $('#name').val(),
                phonenubmer : $('#phonenumber').val(),
            },
            success: function (data) {

            },
            error: function (err) {

            }
        });
    });
</script>
<script>
    function inputPhoneNumber(obj) {
        var number = obj.value.replace(/[^0-9]/g, "");
        var phone = "";
        if(number.length < 4) {
            return number;
        } else if(number.length < 7) {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3);
        } else if(number.length < 11) {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 3);
            phone += "-";
            phone += number.substr(6);
        } else {
            phone += number.substr(0, 3);
            phone += "-";
            phone += number.substr(3, 4);
            phone += "-";
            phone += number.substr(7);
        }
        obj.value = phone;
    }
</script>
</body>
</html>