<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <title>board</title>
</head>
<style>
    table {
        width: 60%;
        height: 100px;
        border: 1px solid #444444;
        text-align: center;
    }
    td {
        border: 1px solid #444444;
    }
</style>
<body>
<h3>board</h3>
<form id ="boardlist" name = "boardlist" method="post">
    <input type ="button" name="write" value="write" id ="write"/>
    <% boardlist.forEach(function(post) { %>
    <div>
        <table>
            <tr>
                <td><%=post.name%> <%=post.mod_date%><input type="button" id ="updateonbtn" name="updateonbtn"value="수정하기" onClick="agreeCheck(this.form)" ><input hidden="true" type="button" id ="delete" name="delete"value="삭제"></td>
            </tr>
            <tr>
                <input type="text" name ="b_id" value ='<%= post.b_id %>' id="b_id">
                <td><textarea disabled="true" id="contents" name="contents" style="resize: none; width: 500px; height: 100px;"><%= post.contents %></textarea><input hidden="true" type="button" id ="update" name="update"value="수정" ></td>
            <tr>
            </tr>
        </table>
    </div>
    <% }) %>
</form>
<script>
    function agreeCheck(frm) {
        if (frm.contents.disabled==true && frm.update.hidden==true){
            frm.contents.disabled=false
            frm.update.hidden=false;
        }
        else{
            frm.contents.disabled=true;
            frm.update.hidden=false;
        }
    }
</script>
<script>
    $('#updateonbtn').click(function d() {
        return $('contents').attr('disabled', false);
    });
</script>
<script>
    $("#write").click(function(){
        $.ajax({
            url: './board/write',
            type: 'GET',
            success: function () {
                location.href="./board/write";
            },
            error: function (err) {
            }
        })
    });
</script>
<script>
    $("#update").click(function(){
        $.ajax({
            url: './board/update',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                b_id: $('#b_id').val(),
                contents: $('#contents').val(),
            },
            success: function (data) {
            },
            error: function (err) {
            }
        })
    });
</script>
<script>
    $("#delete").click(function(){
        $.ajax({
            url: './board/delete',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                b_id: $('#b_id').val(),
                contents: $('#contents').val(),
            },
            success: function (data) {
            },
            error: function (err) {
            }
        })
    });
</script>
</body>
</html>